@{
    ViewData["Title"] = "Gebruiker profiel";
}

<div id="UserUpdate" class="d-flex flex-column">
        <div class="text-center">
            <h1 class="display-4">Gebruiker profiel</h1>
        </div>
        <div class="alert alert-danger" v-if="errorMessage.length">
            {{errorMessage}}
        </div>
        <form class="d-flex flex-column" v-on:submit.prevent="setUpdate" v-if="isEditing == false">
            <div class="d-flex flex-row mb-3">
                <label class="col-sm-2 d-flex align-items-center" for="username">Gebruikersnaam</label>
                <div class="col-sm-2 d-flex align-items-center">
                    <input name="username" v-model="currentUser.userName" placeholder="Gebruikersnaam" disabled>
                </div>
            </div>
            <div class="d-flex flex-row mb-3">
                <label class="col-sm-2 d-flex align-items-center" for="firstName">Voornaam</label>
                <div class="col-sm-2 d-flex align-items-center">
                    <input name="firstName" v-model="currentUser.firstName" placeholder="Voornaam" disabled>
                </div>
            </div>
            <div class="d-flex flex-row mb-3">
                <label class="col-sm-2 d-flex align-items-center" for="lastName">Achternaam</label>
                <div class="col-sm-2 d-flex align-items-center">
                    <input name="lastName" v-model="currentUser.lastName" placeholder="Achternaam" disabled>
                </div>
            </div>
            <div class="d-flex flex-row mb-3">
                <label class="col-sm-2 d-flex align-items-center" for="email">Email</label>
                <div class="col-sm-2 align-items-center">
                    <input name="email" v-model="currentUser.email" placeholder="Email" disabled>
                </div>
            </div>
            <button id="Update" class="btn btn-outline-success mb-3" type="submit">Update</button>
        </form>
        <form class="d-flex flex-column" v-on:submit.prevent="updateUser" v-else>
            <div class="d-flex flex-row mb-3">
                <label class="col-sm-2 d-flex align-items-center" for="username">Gebruikersnaam</label>
                <div class="col-sm d-flex align-items-center row">
                    <input name="username" v-model="editUser.userName" placeholder="Gebruikersnaam" required>
                    <div class="alert alert-danger alert alert-danger mb-0 ml-2" v-if="usernameError.length">
                        {{usernameError}}
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row mb-3">
                <label class="col-sm-2 d-flex align-items-center" for="firstName">Voornaam</label>
                <div class="col-sm d-flex align-items-center row">
                    <input name="firstName" v-model="editUser.firstName" placeholder="Voornaam" required>
                </div>
            </div>
            <div class="d-flex flex-row mb-3">
                <label class="col-sm-2 d-flex align-items-center" for="lastName">Achternaam</label>
                <div class="col-sm d-flex align-items-center row">
                    <input name="lastName" v-model="editUser.lastName" placeholder="Achternaam" required>
                </div>
            </div>
            <div class="d-flex flex-row  mb-3" v-if="!isApproved">
                <label class="col-sm-auto" for="approvedTerms">Ga je akkoord met onze service voorwaarden?</label>
                <div class="col-sm-auto d-flex align-items-center">
                    <input id="termsId" name="approved" v-model="editUser.approvedTerms" type="checkbox">
                </div>
            </div>
            <button id="Update" class="btn btn-outline-success  mb-3" type="submit">Opslaan</button>
        </form>
        <form class="d-flex flex-column" v-on:submit.prevent="cancelUpdate" v-if="isEditing == true">
            <button class="btn btn-outline-secondary mb-3" type="submit">Annuleren</button>
        </form>
        <button v-if="isEditing == false" v-on:click="showDelete" class="d-flex flex-column btn btn-outline-danger mb-3" data-bs-toggle="modal"
            data-bs-target="#deleteUserModal">
        Verwijderen
    </button>
        <hr />
        <div v-if="!playedGames.length">
            <h2> Je hebt geen games. Voeg ze toe.</h2>
        </div>
        <div v-else>
            <h2>Alle games die je speelt</h2>
            <div class="row">
                <div class="card col-md-3 p-2 m-1" v-for="playedGame in playedGames">
                    <div class="card-body">
                        <h5 class="card-title">{{playedGame.name}}</h5>
                        <p class="card-text">€ {{playedGame.price}}</p>
                    </div>
                </div>
            </div>
        </div>

    <div class="modal fade" id="deleteUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete {{currentUser.userName}}</h5>
                </div>
                <div class="modal-body">
                    Weet je zeker dat je {{currentUser.userName}} wilt verwijderen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuleren</button>
                    <button type="button" class="btn btn-primary" v-on:click="deleteUser" >Verwijderen</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        var vue = new Vue({
            el: "#UserUpdate",
            name: "userUpdate",
            data: {
                usernameError: "",
                errorMessage: "",
                showUserError: false,
                isEditing: false,
                playedGames: new Array(),
                isApproved: false,

                currentUser: {
                    email: "",
                    userName: "",
                    firstName: "",
                    lastName: "",
                    gameId: [""],
                    approvedTerms: false,
                },

                editUser: {
                    id: "",
                    userName: "",
                    firstName: "",
                    lastName: "",
                    approvedTerms: false,
                    gameId: [""]
                }
            },

            created: async function () {
                var id = readUserIdFromToken();
                await axios.get(`${baseUrl}user/${id}`, axiosConfig)
                    .then((response) => {
                        this.currentUser.userName = response.data.userName;
                        this.currentUser.firstName = response.data.firstName;
                        this.currentUser.lastName = response.data.lastName;
                        this.currentUser.email = response.data.email;
                        this.currentUser.approvedTerms = response.data.approvedTerms;
                        this.currentUser.gameId = response.data.games.map(game => game.id);

                        this.editUser.gameId = response.data.games.map(game => game.id);
                        this.editUser.userName = response.data.userName;
                        this.editUser.firstName = response.data.firstName;
                        this.editUser.lastName = response.data.lastName;
                        this.editUser.approvedTerms = response.data.approvedTerms;

                        this.isApproved = response.data.approvedTerms;
                        this.playedGames = response.data.games;
                    }).
                    catch((e) => {

                        if (e.response.status === 400) {
                            this.errorMessage = e.response.data[0].errorMessage;
                        }
                        else if (e.response.status === 401) {
                            this.errorMessage = "You don't have the valid authentication to get the user.";
                        }
                        else {
                            this.errorMessage = e.message;
                        }
                    });

            },
            methods: {
                setUpdate: function () {
                    this.isEditing = true;
                },

                updateUser: async function () {
                    this.editUser.id = readUserIdFromToken();

                    await axios.put(`${baseUrl}User`, this.editUser, axiosConfig)
                        .then((response) => {

                            this.currentUser.userName = response.data.userName;
                            this.currentUser.firstName = response.data.firstName;
                            this.currentUser.lastName = response.data.lastName;
                            this.currentUser.approvedTerms = response.data.approvedTerms;
                            this.currentUser.gameId = response.data.games.map(game => game.id);

                        })
                        .catch((e) => {

                            if (e.response.status === 400) {
                                if (e.response.data[0].errorMessage.toLowerCase().includes("username"))
                                {
                                    this.usernameError = e.response.data[0].errorMessage;
                                }
                                else{

                                this.errorMessage = e.response.data[0].errorMessage;
                                }

                            }
                            else if (e.response.status === 401) {
                                this.errorMessage = "You don't have the valid authentication to edit this user";
                            }
                            else {
                                this.errorMessage = e.message;
                            }
                        });

                    if (this.errorMessage.length === 0 && this.usernameError.length ===0)
                    {

                    let token =sessionStorage.getItem("token");

                    await axios.post(`${baseUrl}Authentication/${token}refresh`)
                    .then((response)=>{
                        sessionStorage.clear();
                            sessionStorage.setItem("token", response.data);
                            reloadAxios();
                    });

                    this.isEditing=false;
                    }

                },
                deleteUser: async function () {
                    let id = readUserIdFromToken();

                    await axios.delete(`${baseUrl}User/${id}`, axiosConfig)
                        .then((response) => {
                        })
                        .catch((e) => {
                            this.showErrorSection = true;
                            if (e.response.status === 401) {
                                this.errorMessage = "You don't have the valid authentication to delete user!";
                            }
                            else if (e.response.status === 400) {
                                this.errorMessage = e.response.data[0].errorMessage;

                            }
                            else {
                                this.errorMessage = e.message;
                            }
                        })
                        .finally(() => {
                            const modalElement = document.getElementById("deleteUserModal");
                            const modal = bootstrap.Modal.getInstance(modalElement);
                            modal.hide();
                            sessionStorage.clear();
                            window.location.assign(window.location.origin + "/Home/");
                        });
                },
                cancelUpdate: function () {
                    this.isEditing = false;

                    var deepcopyUser = JSON.parse(JSON.stringify(this.currentUser));

                    this.editUser.userName = deepcopyUser.userName;
                    this.editUser.firstName = deepcopyUser.firstName;
                    this.editUser.lastName = deepcopyUser.lastName;

                    this.editUser.gameId = deepcopyUser.gameId;
                    this.editUser.approvedTerms = deepcopyUser.approvedTerms;

                    var gameId = this.currentUser.gameId;
                },

                showDelete:function(){
                    const modalElement = document.getElementById("deleteUserModal");
                    const modal = bootstrap.Modal.getInstance(modalElement);
                    modal.show();
                }
            }
        });
    </script>
    }