@{
    ViewData["Title"] = "Externe Api";
}

<div id="app">
    <div class="d-flex justify-content-center">
        <div class="d-flex-column">
            <div class="text-center">
                <h1 class="display-4">Gebruikers beheer (externe API)</h1>
            </div>
        </div>
    </div>
    <div v-if="isLoading">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Laden...</span>
            </div>
        </div>
    </div>
    <div class="alert alert-danger text-center" v-else-if="errorMessage.length">
        {{errorMessage}}
    </div>
    <div v-else>
        <div v-if="isLoading">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Laden...</span>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped align-middle sortable" v-else>
            <thead>
                <tr>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Email</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users">
                    <td class="align-middle">{{user.first_name}}</td>
                    <td class="align-middle">{{user.last_name}}</td>
                    <td class="align-middle">{{user.email}}</td>
                    <td><img v-bind:src="user.avatar" class="img-thumbnail rounded mx-auto d-block img-responsive" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                errorMessage: "",
                isLoading: false,
                users: [{
                    id: "",
                    first_name: "",
                    email: "",
                    last_name: "",
                    avatar: "",
                }]
            },
            created: async function () {
                await this.getUsers();
            },
            methods: {
                getUsers: async function () {
                    this.isLoading = true;
                    await axios.get(`${baseUrlExterneApi}`)
                        .then((response) => {
                            this.users = JSON.parse(JSON.stringify(response.data.data));
                        })
                        .catch((error) => {
                            this.errorMessage = error;
                        });

                    this.isLoading = false;
                }
            }
        });
    </script>
}