@{
    ViewData["Title"] = "Home Pagina";
}

<div id="app">
    <div class="btn-group mb-2 d-flex column" role="group">
        <button type="button" class="btn btn-outline-primary" v-on:click="showGames">Games</button>
        <button type="button" class="btn btn-outline-primary" v-on:click="showGenres">Genres</button>
        <button type="button" class="btn btn-outline-primary" v-on:click="showPublishers">Publishers</button>
    </div>
    <div class="d-flex justify-content-center" v-if="start">
        <div class="d-flex-column">
            <h1 class="d-flex justify-content-center display-4">Welcome</h1>
            <div>Om gebruik te maken van de hele site moet je inloggen en akkoord gaan met de service voorwaarden.</div>
        </div>
    </div>
    <div class="alert alert-danger text-center" v-else-if="c.length">
        {{errorMessage}}
    </div>
    <div v-else>
        <div v-if="showAllGames">
            <div class="d-flex justify-content-center row">
                <input type="text" v-model="searchGames" class="form-control mb-4" placeholder="Zoek games..." v-on:input="showGames" />
                <div v-if="isLoading">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Laden...</span>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped align-middle" v-else>
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th>Prijs</th>
                            <th>Publisher</th>
                            <th>Genres</th>
                            <th v-if="user.approvedTerms">Gebruikers</th>
                            <th v-if="user.approvedTerms">Aanpassen/Verwijderen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="game in games">
                            <td class="align-middle">{{game.name}}</td>
                            <td class="align-middle">€ {{game.price}}</td>
                            <td class="align-middle">{{game.publisher.name}}</td>
                            <td class="align-middle">
                                <ul class="m-0 pl-4">
                                    <li v-for="genre in game.genres">
                                        {{genre.name}}
                                    </li>
                                </ul>
                            </td>
                            <td class="align-middle" v-if="user.approvedTerms">
                                <ul class="m-0 pl-4">
                                    <li v-for="user in game.users">
                                        {{user}}
                                    </li>
                                </ul>
                            </td>
                            <td class="align-middle text-center m-0" v-if="user.approvedTerms">
                                <div class="btn-group-vertical btn-block">
                                    <button class="btn btn-success mb-2" v-on:click="addGame(game)" v-if="!hasGame(game)">Toevoegen</button>
                                    <button class="btn btn-danger mb-2" v-on:click="removeGame(game)" v-else>Verwijderen</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-else-if="showAllGenres">
            <div class="d-flex justify-content-center row">
                <input type="text" v-model="searchGenres" class="form-control mb-4" placeholder="Zoek genres..." v-on:input="showGenres" />
                <div v-if="isLoading">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Laden...</span>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped align-middle" v-else>
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th>Beschrijving</th>
                            <th>Games</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="genre in genres">
                            <td class="align-middle">{{genre.name}}</td>
                            <td class="align-middle">{{genre.description}}</td>
                            <td class="align-middle">
                                <ul class="m-0 pl-4">
                                    <li v-for="game in genre.games">
                                        {{game}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-else-if="showAllPublishers">
            <div class="d-flex justify-content-center row">
                <input type="text" v-model="searchPublishers" class="form-control mb-4" placeholder="Zoek publishers..." v-on:input="showPublishers" />
                <div v-if="isLoading">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Laden...</span>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped align-middle" v-else>
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th>Land</th>
                            <th>Games</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="publisher in publishers">
                            <td class="align-middle">{{publisher.name}}</td>
                            <td class="align-middle">{{publisher.country}}</td>
                            <td class="align-middle">
                                <ul class="m-0 pl-4">
                                    <li v-for="game in publisher.games">
                                        {{game.name}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                showError: false,
                errorMessage: "",
                games: null,
                genres: null,
                publishers: null,
                searchGames: "",
                searchGenres: "",
                searchPublishers: "",
                showAllGames: false,
                showAllGenres: false,
                showAllPublishers: false,
                start: true,
                isLoading: false,

                user: {
                    id: "",
                    userName: "",
                    firstName: "",
                    lastName: "",
                    approvedTerms: false,
                    gameId: [""]
                }
            },
            created: async function () {
            },

            methods: {
                showGames: async function () {
                    this.errorMessage="";
                    this.showAllGames = true;
                    this.showAllGenres = false;
                    this.showAllPublishers = false;
                    this.checkUser();
                    this.showError = false;

                    this.isLoading = true;
                    this.start = false;

                    let trimmedSearch = this.searchGames.trimEnd();

                    trimmedSearch = trimmedSearch.trimStart();

                    let searchText = `${baseUrl}game`;

                    if (trimmedSearch != "") {
                        searchText = `${baseUrl}game/${trimmedSearch}/name`;
                    }

                    await axios.get(searchText)
                        .then((response) => {
                            this.games = response.data;
                            this.games.forEach(game => game.genres.sort(this.sortDefealt));
                        })
                        .catch((e) => {
                            this.showError = true;
                            this.errorMessage = e.message
                        });

                    if (userApprovedTerms()) {

                        let allUsers = null;

                        await axios.get(`${baseUrl}user`, axiosConfig)
                            .then((response) => {
                                allUsers = JSON.parse(JSON.stringify(response.data));
                            })
                            .catch((e) => {
                                this.showError = true;
                                this.errorMessage = e.message;
                            })
                            .finally(() => {
                                for (const game of this.games) {
                                    game.users = new Array();
                                    allUsers.sort(this.sortUser).forEach(user => {
                                        let username = "";
                                        if (user.games.some(Usergame => Usergame.id === game.id)) {
                                            username = user.userName;
                                            if (game.users.length) {
                                                game.users.push(username);
                                            }
                                            else {
                                                game.users = new Array(username);
                                            }
                                        }
                                    })
                                }
                            });

                        var id = readUserIdFromToken();

                        await axios.get(`${baseUrl}user/${id}`, axiosConfig)
                            .then((response) => {

                                this.user.gameId = response.data.games.map(game => game.id);
                                this.user.userName = response.data.userName;
                                this.user.firstName = response.data.firstName;
                                this.user.lastName = response.data.lastName;
                                this.user.approvedTerms = response.data.approvedTerms;
                                this.user.id = response.data.id;

                            }).
                            catch((e) => {
                                this.showError = true;
                                if (e.response.status === 400) {
                                    this.errorMessage = e.response.data[0].errorMessage;
                                }
                                else if (e.response.status === 401) {
                                    this.errorMessage = "You don't have the valid authentication to get the user.";
                                }
                                else {
                                    this.errorMessage = e.message;
                                }
                            });

                    }
                    this.isLoading = false;
                },

                hasGame: function (game) {
                    return this.user.gameId.includes(game.id);
                },

                removeGame: async function (game) {
                    this.checkUser();

                    this.isLoading = true;
                    this.showError = false;

                    if (this.isUserApproved()) {


                        const index = this.user.gameId.indexOf(game.id);

                        this.user.gameId.splice(index, 1);

                        await axios.put(`${baseUrl}User`, this.user, axiosConfig)
                            .then((response) => {

                                this.user.userName = response.data.userName;
                                this.user.firstName = response.data.firstName;
                                this.user.lastName = response.data.lastName;
                                this.user.approvedTerms = response.data.approvedTerms;
                                this.user.gameId = response.data.games.map(game => game.id);
                                this.user.id = response.data.id;

                            })
                            .catch((e) => {
                                this.showError = true;

                                if (e.response.status === 400) {
                                    this.errorMessage = e.message;
                                }
                                else if (e.response.status === 401) {
                                    this.errorMessage = "You don't have the valid authentication to edit this user";
                                }
                                else {
                                    this.errorMessage = e.message;
                                }
                            });

                        let allUsers = null;

                        await axios.get(`${baseUrl}user`, axiosConfig)
                            .then((response) => {
                                allUsers = JSON.parse(JSON.stringify(response.data));
                            })
                            .catch((e) => {
                                this.showError = true;
                                this.errorMessage = e.message;
                            })
                            .finally(() => {
                                for (const game of this.games) {
                                    game.users = new Array();
                                    allUsers.forEach(user => {
                                        let username = "";
                                        if (user.games.some(Usergame => Usergame.id === game.id)) {
                                            username = user.userName;
                                            if (game.users.length) {
                                                game.users.push(username);
                                            }
                                            else {
                                                game.users = new Array(username);
                                            }
                                        }
                                    })
                                }
                            });
                    }
                    this.isLoading = false;
                },

                addGame: async function (game) {
                    this.checkUser();

                    this.showError = false;

                    this.isLoading = true;
                    if (this.isUserApproved()) {

                        this.user.gameId.push(game.id);

                        await axios.put(`${baseUrl}user`, this.user, axiosConfig)
                            .then((response) => {
                                this.user.userName = response.data.userName;
                                this.user.firstName = response.data.firstName;
                                this.user.lastName = response.data.lastName;
                                this.user.approvedTerms = response.data.approvedTerms;
                                this.user.gameId = response.data.games.map(game => game.id);
                                this.user.id = response.data.id;

                            })
                            .catch((e) => {
                                this.showError = true;

                                if (e.response.status === 400) {
                                    this.errorMessage = e.message;
                                }
                                else if (e.response.status === 401) {
                                    this.errorMessage = "You don't have the valid authentication to edit this user";
                                }
                                else {
                                    this.errorMessage = e.message;
                                }
                            });

                        let allUsers = null;

                        await axios.get(`${baseUrl}user`, axiosConfig)
                            .then((response) => {
                                allUsers = JSON.parse(JSON.stringify(response.data));
                            })
                            .catch((e) => {

                                this.showError = true;
                                this.errorMessage = e.message;
                            })
                            .finally(() => {
                                for (const game of this.games) {
                                    game.users = new Array();
                                    allUsers.forEach(user => {
                                        let username = "";
                                        if (user.games.some(Usergame => Usergame.id === game.id)) {
                                            username = user.userName;
                                            if (game.users.length) {
                                                game.users.push(username);
                                            }
                                            else {
                                                game.users = new Array(username);
                                            }
                                        }
                                    })
                                }
                            });
                    }

                    this.isLoading = false;
                },
                showGenres: async function () {
                    this.errorMessage = "";

                    this.showAllGames = false;
                    this.showAllGenres = true;
                    this.showAllPublishers = false;
                    this.start = false;
                    this.isLoading = true;
                    this.showError = false;

                    let trimmedSearch = this.searchGenres.trimEnd();

                    trimmedSearch = trimmedSearch.trimStart();

                    let searchText = `${baseUrl}genre`;

                    if (trimmedSearch != "") {
                        searchText = `${baseUrl}genre/${trimmedSearch}/genre`;
                    }

                    await axios.get(searchText)
                        .then((response) => {
                            this.genres = response.data;
                        })
                        .catch((e) => {
                            this.showError = true;
                            this.errorMessage = e.message
                        });

                    let allGame = null;

                    await axios.get(`${baseUrl}game`, axiosConfig)
                        .then((response) => {
                            allGame = JSON.parse(JSON.stringify(response.data));
                            allGame.sort(this.sortDefealt);
                        })
                        .catch((e) => {

                            this.showError = true;
                            this.errorMessage = e.message;
                        })
                        .finally(() => {
                            for (const genre of this.genres) {
                                genre.games = new Array();
                                allGame.forEach(game => {
                                    let name = "";
                                    if (game.genres.some(gameGenre => gameGenre.id === genre.id)) {
                                        name = game.name;
                                        if (genre.games.length) {
                                            genre.games.push(name);
                                        }
                                        else {
                                            genre.games = new Array(name);
                                        }
                                    }
                                })
                            }
                        });

                    this.isLoading = false;
                },
                showPublishers: async function () {
                    this.errorMessage = "";
                    this.showAllGames = false;
                    this.showAllGenres = false;
                    this.showAllPublishers = true;
                    this.isLoading = true;
                    this.showError = false;

                    this.start = false;

                    let trimmedSearch = this.searchPublishers.trimEnd();

                    trimmedSearch = trimmedSearch.trimStart();

                    let searchText = `${baseUrl}publisher`;

                    if (trimmedSearch != "") {
                        searchText = `${baseUrl}publisher/${trimmedSearch}/name`;
                    }

                    await axios.get(searchText)
                        .then((response) => {
                            this.publishers = JSON.parse(JSON.stringify(response.data));
                        })
                        .catch((e) => {

                            this.showError = true;
                            this.errorMessage = e.message;
                        });

                    for (const publisher of this.publishers) {

                        await axios.get(`${baseUrl}game/${publisher.id}/publishers`)
                            .then((response) => {
                                publisher.games = JSON.parse(JSON.stringify(response.data));
                                publisher.games.sort(this.sortDefealt);
                            })
                            .catch((e) => {

                                this.showError = true;
                                this.errorMessage = e.message;

                            });
                    };

                    this.isLoading = false;
                },
                checkUser: function () {
                    if (sessionStorage.getItem("token") === null) {
                        this.user = {
                            id: "",
                            userName: "",
                            firstName: "",
                            lastName: "",
                            approvedTerms: false,
                            gameId: [""]
                        };
                    }
                },

                isUserApproved: function () {
                    if (userApprovedTerms()) {
                        return true;
                    }
                    else if (sessionStorage.getItem("token") === null) {
                        this.showError = true;
                        this.errorMessage = "You aren't logged in. To use this log in";
                        return false;
                    }
                    this.showError = true;
                    this.errorMessage = "You haven't approved the terms of service. To use this please approve";
                    return false;
                },
                sortUser: function (firstUser, secondUser) {
                    const userA = firstUser.userName.toUpperCase();
                    const userB = secondUser.userName.toUpperCase();
                    if (userA < userB) {
                        return -1;
                    }
                    if (userA > userB) {
                        return 1;
                    }

                    return 0;
                },
                sortDefealt: function (first, second) {
                    const A = first.name.toUpperCase();
                    const B = second.name.toUpperCase();
                    if (A < B) {
                        return -1;
                    }
                    if (A > B) {
                        return 1;
                    }

                    return 0;
                },
            }
        });
    </script>
}